
.navbar {
    background-color: whitesmoke;
}

.quem-somos{
    background-color: white;
}

.margin{
    padding: 20px;
}

.nav-link{
    color:  #145a32 ;
}
.parceiros{
    background-color: white ;
}
